# 6. 크롤링을 통한 일별시세 데이터 수집

- 네이버 금융 개별종목 수집

<br>

## 6.1 네이버 증권의 개별종목 일별 시세 데이터 가져오는 방법

### 6.1.1 라이브러리 로드

In [20]:
import pandas as pd
import requests as rq

<br>

### 6.1.2 수집할 URL 정하기

In [2]:
# 종목 URL 만들기
url = 'https://finance.naver.com/item/sise.nhn?code=005930'

<br>

### 6.1.3 pandas를 통해 데이터 수집하기

- `pd.read_html()`을 이용하여 url의 page내의 값을 DataFrame으로 받아온다.
- `cp949`는 한글 인코딩을 위해 사용한다.
- 기본 인코딩 설정은 `utf-8`이며, 네이버의 일별 시세는 `cp949` 인코딩으로 불러올 수 있다.
- 데이터를 로드했을 때 한글 인코딩이 깨진다면 대부분 `cp949`로 불러올 수 있다.

In [3]:
table = pd.read_html(url, encoding='cp949')

In [4]:
len(table)

12

In [5]:
table[0]

,0,1,2
0,"전일 85,600 85,600","고가 85,60085,600 (상한가 111,000111,000 )","거래량 31,598,976 31,598,976"
1,"시가 83,20083,200","저가 83,20083,200 (하한가 60,000 )","거래대금 2,654,762 2,654,762 백만"

In [6]:
table[1]

           0            1       2           3
0        현재가        83700    매도호가       83800
1       전일대비    하락  1,900    매수호가       83700
2     등락률(%)       -2.22%     전일가       85600
3        거래량     31598976      시가       83200
4   거래대금(백만)      2654762      고가       85600
5        액면가         100원      저가       83200
6        NaN          NaN     NaN         NaN
7        상한가       111000    전일상한      112500
8        하한가        60000    전일하한       60700
9        PER        22.86     EPS        3662
10    52주 최고        96800  52주 최저       42300
11      시가총액  4,996,708억원   상장주식수  5969782550
12     외국인현재  3,299,186천주     자본금   778,046백만

In [7]:
table[2]

        매도잔량     매도호가  Unnamed: 2     매수호가      매수잔량
0        NaN      NaN         NaN      NaN       NaN
1    19527.0  84200.0         NaN      NaN       NaN
2    16359.0  84100.0         NaN      NaN       NaN
3    81628.0  84000.0         NaN      NaN       NaN
4   121499.0  83900.0         NaN      NaN       NaN
5   132348.0  83800.0         NaN      NaN       NaN
6        NaN      NaN         NaN      NaN       NaN
7        NaN      NaN         NaN      NaN       NaN
8        NaN      NaN         NaN      NaN       NaN
9        NaN      NaN         NaN  83700.0   51142.0
10       NaN      NaN         NaN  83600.0   88844.0
11       NaN      NaN         NaN  83500.0  270336.0
12       NaN      NaN         NaN  83400.0  278788.0
13       NaN      NaN         NaN  83300.0  410199.0
14       NaN      NaN         NaN      NaN       NaN

In [8]:
table[3]

        0     1        2
0  535945  잔량합계  3133286

In [9]:
table[4]

          0                1
0      시가총액  499조  6,708  억원
1    시가총액순위           코스피 1위
2     상장주식수       5969782550
3  액면가l매매단위      100원  l  1주

In [10]:
table[5]

             0           1
0  외국인한도주식수(A)  5969782550
1  외국인보유주식수(B)  3299185995
2  외국인소진율(B/A)      55.26%

In [11]:
table[6]

           0                   1
0  투자의견l목표주가  4.00매수  l  102,040
1   52주최고l최저   96,800  l  42,300

In [12]:
table[7]

                   0                  1
0   PERlEPS(2020.09)  22.86배  l  3,662원
1          추정PERlEPS  16.00배  l  5,189원
2  PBRlBPS (2020.09)     ∞배  l  39,446원
3              배당수익률                NaN

<br>

### 6.1.4 원하는 데이터를 가져오지 못한 이유

- 시간별 시세와 일별 시세 데이터가 수집되지 않았다.  
  
  
- 크롬 개발자 도구 > Network 에서 해당 페이지를 로드할 때 다운로드 되는 파일들을 볼 수 있다.
  - `XHR` : 비동기 통신으로 가져오는 파일들을 보여줌
  - `Doc` : 문서 파일들을 보여줌  
  
  
- 이번 경우에는 `Doc` 에 표출되는 파일 중 가져오고자 하는 일별 시세 정보가 들어 있는 것을 볼 수 있다.  
(페이지 번호를 눌렀을 때 해당 파일이 새로 추가되는 것 확인 가능)
- 이를 통해 일별 시세 데이터를 수집할 수 있는 url을 얻을 수 있다.

<br>

### 6.1.5 일별 시세 데이터 수집

> 기존 방법이 네이버 사이트에서 제한되서 아래 코드로 수집 가능

In [26]:
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page=2'
r = rq.get(url, headers={"user-agent": user_agent})
tb = r.content.decode('euc-kr')
table = pd.read_html(tb)
len(table)

2

In [27]:
temp = table[0]
temp

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2021.01.14  89700.0     0.0  88700.0  90000.0  88700.0  26393970.0
2   2021.01.13  89700.0   900.0  89800.0  91200.0  89100.0  36068848.0
3   2021.01.12  90600.0   400.0  90300.0  91400.0  87800.0  48682416.0
4   2021.01.11  91000.0  2200.0  90000.0  96800.0  89500.0  90306177.0
5   2021.01.08  88800.0  5900.0  83300.0  90000.0  83000.0  59013307.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2021.01.07  82900.0   700.0  82800.0  84200.0  82700.0  32644642.0
10  2021.01.06  82200.0  1700.0  83300.0  84500.0  82100.0  42089013.0
11  2021.01.05  83900.0   900.0  81600.0  83900.0  81600.0  35335669.0
12  2021.01.04  83000.0  2000.0  81000.0  84400.0  80200.0  38655276.0
13  2020.12.30  81000.0  2700.0  77400.0  81300.0  77300.0  29417421.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

<br>

### 6.1.6 결측치 제거

In [29]:
# axis=1 : 행 기준
# how='all' : 해당 행의 모든 데이터가 결측치 일때만 제거
temp.dropna(axis=0, how='all')

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.01.14  89700.0     0.0  88700.0  90000.0  88700.0  26393970.0
2   2021.01.13  89700.0   900.0  89800.0  91200.0  89100.0  36068848.0
3   2021.01.12  90600.0   400.0  90300.0  91400.0  87800.0  48682416.0
4   2021.01.11  91000.0  2200.0  90000.0  96800.0  89500.0  90306177.0
5   2021.01.08  88800.0  5900.0  83300.0  90000.0  83000.0  59013307.0
9   2021.01.07  82900.0   700.0  82800.0  84200.0  82700.0  32644642.0
10  2021.01.06  82200.0  1700.0  83300.0  84500.0  82100.0  42089013.0
11  2021.01.05  83900.0   900.0  81600.0  83900.0  81600.0  35335669.0
12  2021.01.04  83000.0  2000.0  81000.0  84400.0  80200.0  38655276.0
13  2020.12.30  81000.0  2700.0  77400.0  81300.0  77300.0  29417421.0

<br>

### 6.1.7 종목코드 변수로 넘겨주기

In [33]:
item_code = '326030'
item_name = 'SK바이오팜'

url = f'https://finance.naver.com/item/sise_day.nhn?code={item_code}&page=2'
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"

r = rq.get(url, headers={"user-agent": user_agent})
tb = r.content.decode('euc-kr')

table = pd.read_html(tb)
table[0].dropna(axis=0, how='all')

            날짜        종가      전일비        시가        고가        저가        거래량
1   2021.01.14  155000.0   2000.0  153500.0  156500.0  152000.0   286485.0
2   2021.01.13  153000.0   1500.0  154500.0  154500.0  152000.0   262693.0
3   2021.01.12  154500.0   1500.0  155500.0  156000.0  152500.0   400078.0
4   2021.01.11  156000.0   3500.0  159000.0  159500.0  154500.0   610221.0
5   2021.01.08  159500.0   1000.0  159500.0  161000.0  155000.0   703920.0
9   2021.01.07  158500.0   1000.0  160000.0  160500.0  157500.0   486353.0
10  2021.01.06  159500.0   1000.0  161500.0  162500.0  158000.0   626403.0
11  2021.01.05  160500.0   6000.0  155000.0  162500.0  152500.0  1377082.0
12  2021.01.04  154500.0  14500.0  149500.0  157000.0  149000.0  3338448.0
13  2020.12.30  169000.0   1000.0  168000.0  169500.0  167000.0   221674.0

In [34]:
item_code = '352820'
item_name = '빅히트'

url = f'https://finance.naver.com/item/sise_day.nhn?code={item_code}&page=2'
user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"

r = rq.get(url, headers={"user-agent": user_agent})
tb = r.content.decode('euc-kr')

table = pd.read_html(tb)
table[0].dropna(axis=0, how='all')

            날짜        종가      전일비        시가        고가        저가        거래량
1   2021.01.14  166000.0   2500.0  166500.0  170500.0  163500.0   341487.0
2   2021.01.13  168500.0  15000.0  153500.0  180000.0  153000.0  2079262.0
3   2021.01.12  153500.0   1000.0  154500.0  157000.0  150000.0   202504.0
4   2021.01.11  154500.0   6000.0  162000.0  162500.0  154000.0   253932.0
5   2021.01.08  160500.0   3500.0  158000.0  162000.0  155000.0   285332.0
9   2021.01.07  157000.0   1500.0  158500.0  159500.0  157000.0   139860.0
10  2021.01.06  158500.0      0.0  160000.0  161000.0  157500.0   148194.0
11  2021.01.05  158500.0    500.0  157000.0  159000.0  155500.0   168962.0
12  2021.01.04  158000.0   2000.0  160000.0  160500.0  156000.0   152926.0
13  2020.12.30  160000.0   1500.0  158500.0  161000.0  157500.0   117495.0

<br>

## 6.2 페이지별 데이터 수집 함수 구현

In [42]:
def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """
    
    url = f'https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}'
    user_agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"

    r = rq.get(url, headers={"user-agent": user_agent})
    tb = r.content.decode('euc-kr')

    table = pd.read_html(tb)
    df_day = table[0].dropna(axis=0, how='all')
    
    return df_day

In [43]:
get_day_list('005930', '1') # 삼성전자

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.01.28  83700.0  1900.0  83200.0  85600.0  83200.0  31598976.0
2   2021.01.27  85600.0  1100.0  86600.0  87700.0  85600.0  26423070.0
3   2021.01.26  86700.0  2700.0  88800.0  89200.0  86500.0  33178936.0
4   2021.01.25  89400.0  2600.0  87000.0  89900.0  86300.0  27258534.0
5   2021.01.22  86800.0  1300.0  89000.0  89700.0  86800.0  30861661.0
9   2021.01.21  88100.0   900.0  87500.0  88600.0  86500.0  25318011.0
10  2021.01.20  87200.0   200.0  89000.0  89000.0  86500.0  25211127.0
11  2021.01.19  87000.0  2000.0  84500.0  88000.0  83600.0  39895044.0
12  2021.01.18  85000.0  3000.0  86600.0  87300.0  84100.0  43227951.0
13  2021.01.15  88000.0  1700.0  89800.0  91800.0  88000.0  33431809.0

<br>

## 6.3 반복문을 통한 전체 일자 데이터 수집

> (주의) 기간이 긴 데이터를 수집할 때는 서버에 부담을 주지 않기 위해 `time.sleep()` 를 지정해줘야 한다.

In [64]:
import time

item_code = '326030'
item_name = 'SK바이오팜'
page_no = 1
item_list = []

while True:
    df_day = get_day_list(item_code, page_no)
    item_list.append(df_day)
    page_no = page_no + 1
    
    time.sleep(0.1)
    
    if len(df_day) < 10:
        break

In [65]:
len(item_list)

15

In [66]:
item_list

[            날짜        종가     전일비        시가        고가        저가       거래량
 1   2021.01.28  148000.0  1500.0  148000.0  150500.0  147000.0  197915.0
 2   2021.01.27  149500.0  2500.0  152000.0  153000.0  149500.0  167932.0
 3   2021.01.26  152000.0     0.0  153000.0  155000.0  151500.0  245969.0
 4   2021.01.25  152000.0  1500.0  151000.0  153500.0  150500.0  250843.0
 5   2021.01.22  150500.0  1000.0  152500.0  153000.0  149000.0  211286.0
 9   2021.01.21  151500.0  3500.0  148000.0  156500.0  147500.0  641065.0
 10  2021.01.20  148000.0     0.0  147500.0  148000.0  146000.0  243971.0
 11  2021.01.19  148000.0     0.0  146500.0  148000.0  145000.0  274255.0
 12  2021.01.18  148000.0  5000.0  151500.0  151500.0  147000.0  419631.0
 13  2021.01.15  153000.0  2000.0  156000.0  156500.0  152500.0  253543.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2021.01.14  155000.0   2000.0  153500.0  156500.0  152000.0   286485.0
 2   2021.01.13  153000.0   1500.0  154500.0  154500.0  152000.0   262693.0
 3   2021.01.12  154500.0   1500.0  155500.0  156000.0  152500.0   400078.0
 4   2021.01.11  156000.0   3500.0  159000.0  159500.0  154500.0   610221.0
 5   2021.01.08  159500.0   1000.0  159500.0  161000.0  155000.0   703920.0
 9   2021.01.07  158500.0   1000.0  160000.0  160500.0  157500.0   486353.0
 10  2021.01.06  159500.0   1000.0  161500.0  162500.0  158000.0   626403.0
 11  2021.01.05  160500.0   6000.0  155000.0  162500.0  152500.0  1377082.0
 12  2021.01.04  154500.0  14500.0  149500.0  157000.0  149000.0  3338448.0
 13  2020.12.30  169000.0   1000.0  168000.0  169500.0  167000.0   221674.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2020.12.29  168000.0   500.0  168500.0  171500.0  167000.0  166056.0
 2   2020.12.28  167500.0  3500.0  172000.0  172000.0  167000.0  214254.0
 3   2020.12.24  171000.0     0.0  171000.0  171500.0  168500.0  133848.0
 4   2020.12.23  171000.0  1500.0  173000.0  173500.0  170000.0  131118.0
 5   2020.12.22  172500.0  4500.0  175000.0  175500.0  172500.0  173246.0
 9   2020.12.21  177000.0  4500.0  180000.0  180500.0  176000.0  193959.0
 10  2020.12.18  181500.0  5000.0  178000.0  181500.0  176500.0  958573.0
 11  2020.12.17  176500.0  2000.0  175500.0  176500.0  174000.0  232821.0
 12  2020.12.16  174500.0  3000.0  172000.0  174500.0  171500.0  159569.0
 13  2020.12.15  171500.0   500.0  170500.0  171500.0  169500.0  164389.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2020.12.14  171000.0   3500.0  173500.0  173500.0  170000.0  183234.0
 2   2020.12.11  174500.0   4000.0  178000.0  178500.0  174000.0  180849.0
 3   2020.12.10  178500.0   6000.0  171000.0  178500.0  168500.0  396257.0
 4   2020.12.09  172500.0   1000.0  173000.0  173500.0  171500.0  142802.0
 5   2020.12.08  171500.0   2500.0  172500.0  174000.0  171000.0  160435.0
 9   2020.12.07  174000.0   2500.0  177500.0  177500.0  171500.0  255183.0
 10  2020.12.04  176500.0   1000.0  175500.0  178000.0  175000.0  235976.0
 11  2020.12.03  175500.0   2000.0  179000.0  179500.0  175000.0  231283.0
 12  2020.12.02  177500.0      0.0  177500.0  180000.0  175000.0  290721.0
 13  2020.12.01  177500.0  10000.0  185000.0  185500.0  177000.0  667685.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2020.11.30  187500.0  1000.0  192500.0  192500.0  181500.0  2393234.0
 2   2020.11.27  188500.0  9000.0  180000.0  189000.0  178500.0   911681.0
 3   2020.11.26  179500.0  5000.0  175500.0  179500.0  172500.0   440231.0
 4   2020.11.25  174500.0   500.0  174500.0  180000.0  170500.0   746914.0
 5   2020.11.24  174000.0  3500.0  171000.0  174500.0  171000.0   411017.0
 9   2020.11.23  170500.0   500.0  170000.0  171000.0  168500.0   213056.0
 10  2020.11.20  170000.0     0.0  170000.0  171500.0  168500.0   171685.0
 11  2020.11.19  170000.0  2000.0  168000.0  171000.0  166500.0   231212.0
 12  2020.11.18  168000.0  1500.0  168000.0  168500.0  166500.0   171256.0
 13  2020.11.17  166500.0  1500.0  168500.0  168500.0  166000.0   142976.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2020.11.16  168000.0   2000.0  166500.0  169000.0  165000.0  186207.0
 2   2020.11.13  166000.0   2500.0  162000.0  167000.0  162000.0  209594.0
 3   2020.11.12  163500.0   3500.0  168500.0  169000.0  161500.0  295225.0
 4   2020.11.11  167000.0   2500.0  172000.0  172500.0  167000.0  553516.0
 5   2020.11.10  169500.0    500.0  170000.0  170500.0  162000.0  400127.0
 9   2020.11.09  169000.0    500.0  170000.0  171500.0  168500.0  340747.0
 10  2020.11.06  168500.0   1000.0  171000.0  171000.0  167000.0  240472.0
 11  2020.11.05  169500.0    500.0  170500.0  172000.0  167000.0  426878.0
 12  2020.11.04  169000.0  10000.0  160500.0  170000.0  159500.0  913673.0
 13  2020.11.03  159000.0    500.0  160500.0  161000.0  157500.0  200829.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2020.11.02  158500.0  1000.0  161500.0  161500.0  157000.0  196735.0
 2   2020.10.30  159500.0  4000.0  156500.0  163000.0  155000.0  404704.0
 3   2020.10.29  155500.0  1500.0  154500.0  156500.0  152500.0  164293.0
 4   2020.10.28  157000.0   500.0  157000.0  157500.0  156000.0  107482.0
 5   2020.10.27  156500.0     0.0  156000.0  159500.0  154500.0  175993.0
 9   2020.10.26  156500.0  4500.0  160500.0  161000.0  155000.0  224326.0
 10  2020.10.23  161000.0  1500.0  161000.0  162000.0  159500.0  191225.0
 11  2020.10.22  162500.0  1000.0  161000.0  163500.0  158000.0  287992.0
 12  2020.10.21  161500.0  6500.0  156000.0  162000.0  154500.0  449038.0
 13  2020.10.20  155000.0   500.0  153500.0  156000.0  152500.0  232226.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.10.19  154500.0   1000.0  151000.0  156000.0  149000.0   270633.0
 2   2020.10.16  153500.0   1500.0  153000.0  159000.0  153000.0   486968.0
 3   2020.10.15  152000.0   1000.0  153000.0  153000.0  146500.0   402884.0
 4   2020.10.14  153000.0   5500.0  166500.0  170000.0  152500.0  1784912.0
 5   2020.10.13  147500.0   2500.0  151000.0  151500.0  146000.0   301158.0
 9   2020.10.12  150000.0   2500.0  149000.0  150000.0  147500.0   369263.0
 10  2020.10.08  147500.0   4000.0  144000.0  148000.0  142500.0   457340.0
 11  2020.10.07  143500.0   2500.0  141000.0  144000.0  140000.0   257799.0
 12  2020.10.06  141000.0    500.0  141000.0  142500.0  139500.0   461207.0
 13  2020.10.05  140500.0  16000.0  145000.0  146000.0  138000.0  1368552.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2020.09.29  156500.0  1500.0  156500.0  158000.0  155000.0  164882.0
 2   2020.09.28  155000.0  3500.0  159000.0  160000.0  155000.0  197955.0
 3   2020.09.25  158500.0   500.0  159500.0  161500.0  158000.0  133341.0
 4   2020.09.24  159000.0  3000.0  158000.0  159000.0  156000.0  251602.0
 5   2020.09.23  162000.0  2500.0  165000.0  166500.0  158500.0  190137.0
 9   2020.09.22  164500.0  3000.0  167500.0  168500.0  163000.0  191073.0
 10  2020.09.21  167500.0  4000.0  171500.0  172000.0  165500.0  210008.0
 11  2020.09.18  171500.0  1000.0  170500.0  172000.0  169000.0  139378.0
 12  2020.09.17  170500.0   500.0  170000.0  171500.0  169000.0  192071.0
 13  2020.09.16  170000.0  1500.0  170500.0  173000.0  170000.0  209954.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.09.15  171500.0   1000.0  172000.0  173000.0  170500.0   213266.0
 2   2020.09.14  170500.0   4500.0  174500.0  174500.0  169000.0   369858.0
 3   2020.09.11  175000.0   9500.0  180500.0  182500.0  173000.0   827865.0
 4   2020.09.10  184500.0   6500.0  194000.0  194500.0  184500.0  1216687.0
 5   2020.09.09  191000.0   3000.0  184500.0  194000.0  181000.0   752071.0
 9   2020.09.08  188000.0   3500.0  193000.0  197000.0  187000.0   688213.0
 10  2020.09.07  191500.0   1500.0  193000.0  193500.0  187000.0   588499.0
 11  2020.09.04  190000.0   8000.0  177000.0  191500.0  177000.0  1263233.0
 12  2020.09.03  182000.0    500.0  183500.0  186500.0  179000.0   564777.0
 13  2020.09.02  181500.0  10500.0  171000.0  185000.0  167500.0  1273960.0,
             날짜        종가     전일비        시가        고가        저가       거래량
 1   2020.09.01  171000.0  7500.0  165000.0  173000.0  163500.0  388140.0
 2   2020.08.31  163500.0  3500.0  170000.0  170000.0  163000.0  233285.0
 3   2020.08.28  167000.0   500.0  167500.0  169000.0  166500.0  153232.0
 4   2020.08.27  167500.0  4500.0  172000.0  172500.0  167000.0  193632.0
 5   2020.08.26  172000.0     0.0  174000.0  175000.0  171000.0  198839.0
 9   2020.08.25  172000.0  4000.0  169000.0  173000.0  168500.0  245620.0
 10  2020.08.24  168000.0  5500.0  160000.0  168500.0  155000.0  390851.0
 11  2020.08.21  162500.0  4500.0  169000.0  169500.0  159500.0  396107.0
 12  2020.08.20  167000.0  5000.0  171000.0  174000.0  165500.0  321586.0
 13  2020.08.19  172000.0  1000.0  170500.0  175000.0  170500.0  251460.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.08.18  171000.0   7500.0  175000.0  178000.0  170500.0   429385.0
 2   2020.08.14  178500.0   7500.0  184000.0  184000.0  177500.0   512876.0
 3   2020.08.13  186000.0   5000.0  192000.0  193000.0  184500.0   491263.0
 4   2020.08.12  191000.0    500.0  193000.0  195500.0  188000.0   419642.0
 5   2020.08.11  191500.0   1000.0  196000.0  196500.0  190000.0   547133.0
 9   2020.08.10  192500.0  13500.0  185500.0  196000.0  184500.0  1791403.0
 10  2020.08.07  179000.0    500.0  180000.0  181000.0  178000.0   231477.0
 11  2020.08.06  179500.0      0.0  182500.0  182500.0  178500.0   257948.0
 12  2020.08.05  179500.0   4000.0  177500.0  183000.0  175500.0   508410.0
 13  2020.08.04  175500.0    500.0  176500.0  179000.0  175000.0   334937.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2020.08.03  175000.0  7000.0  174000.0  178000.0  170000.0   748436.0
 2   2020.07.31  182000.0  3000.0  184000.0  184500.0  182000.0   222520.0
 3   2020.07.30  185000.0  1500.0  187000.0  189000.0  183500.0   318789.0
 4   2020.07.29  186500.0  3500.0  190500.0  190500.0  185500.0   281090.0
 5   2020.07.28  190000.0  1500.0  193000.0  193500.0  188000.0   351351.0
 9   2020.07.27  191500.0  2500.0  192500.0  199500.0  190500.0   913434.0
 10  2020.07.24  189000.0  2500.0  184500.0  194500.0  183000.0   806058.0
 11  2020.07.23  186500.0  1500.0  189000.0  190500.0  183000.0   572644.0
 12  2020.07.22  188000.0  2500.0  192000.0  205000.0  188000.0  2269779.0
 13  2020.07.21  185500.0  1500.0  186500.0  189000.0  184500.0   564184.0,
             날짜        종가      전일비        시가        고가        저가         거래량
 1   2020.07.20  187000.0   4000.0  193500.0  195000.0  185000.0    657860.0
 2   2020.07.17  191000.0   7500.0  185000.0  193000.0  183500.0   1109080.0
 3   2020.07.16  183500.0   6500.0  179000.0  197500.0  179000.0   3290169.0
 4   2020.07.15  177000.0  11500.0  190000.0  191000.0  174000.0   1859251.0
 5   2020.07.14  188500.0  10500.0  199500.0  201500.0  188000.0   1389588.0
 9   2020.07.13  199000.0   6500.0  206000.0  207500.0  199000.0   1072716.0
 10  2020.07.10  205500.0      0.0  200500.0  213500.0  198500.0   1825361.0
 11  2020.07.09  205500.0  11500.0  213500.0  220000.0  205500.0   1897646.0
 12  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
 13  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0,
            날짜        종가      전일비        시가        고가        저가        거래량
 1  2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0  7126211.0
 2  2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0   711921.0
 3  2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0   698642.0]

<br>

## 6.4 수집한 데이터를 하나의 데이터프레임으로 합치기

In [67]:
df = pd.concat(item_list)
df

            날짜        종가      전일비        시가        고가        저가         거래량
1   2021.01.28  148000.0   1500.0  148000.0  150500.0  147000.0    197915.0
2   2021.01.27  149500.0   2500.0  152000.0  153000.0  149500.0    167932.0
3   2021.01.26  152000.0      0.0  153000.0  155000.0  151500.0    245969.0
4   2021.01.25  152000.0   1500.0  151000.0  153500.0  150500.0    250843.0
5   2021.01.22  150500.0   1000.0  152500.0  153000.0  149000.0    211286.0
..         ...       ...      ...       ...       ...       ...         ...
12  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
13  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0
1   2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0   7126211.0
2   2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0    711921.0
3   2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0    698642.0

[143 rows x 7 columns]

In [68]:
len(df)

143

In [69]:
df.head()

           날짜        종가     전일비        시가        고가        저가       거래량
1  2021.01.28  148000.0  1500.0  148000.0  150500.0  147000.0  197915.0
2  2021.01.27  149500.0  2500.0  152000.0  153000.0  149500.0  167932.0
3  2021.01.26  152000.0     0.0  153000.0  155000.0  151500.0  245969.0
4  2021.01.25  152000.0  1500.0  151000.0  153500.0  150500.0  250843.0
5  2021.01.22  150500.0  1000.0  152500.0  153000.0  149000.0  211286.0

In [70]:
df.tail()

            날짜        종가      전일비        시가        고가        저가         거래량
12  2020.07.08  217000.0    500.0  214500.0  225000.0  198000.0   5990009.0
13  2020.07.07  216500.0   2000.0  219000.0  269500.0  210000.0  10105187.0
1   2020.07.06  214500.0  49500.0  214500.0  214500.0  193500.0   7126211.0
2   2020.07.03  165000.0  38000.0  165000.0  165000.0  165000.0    711921.0
3   2020.07.02  127000.0  29000.0   98000.0  127000.0   98000.0    698642.0

<br>

## 6.5 데이터 전처리

### 6.5.1 파생 변수 만들기 (종목코드, 종목명)

In [71]:
df['종목코드'] = item_code
df['종목명'] = item_name

df.head()

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.01.28,148000.0,1500.0,148000.0,150500.0,147000.0,197915.0,326030,SK바이오팜
2,2021.01.27,149500.0,2500.0,152000.0,153000.0,149500.0,167932.0,326030,SK바이오팜
3,2021.01.26,152000.0,0.0,153000.0,155000.0,151500.0,245969.0,326030,SK바이오팜
4,2021.01.25,152000.0,1500.0,151000.0,153500.0,150500.0,250843.0,326030,SK바이오팜
5,2021.01.22,150500.0,1000.0,152500.0,153000.0,149000.0,211286.0,326030,SK바이오팜

<br>

### 6.5.2 컬럼 순서 변경

In [73]:
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

- `copy()` 함수를 사용하면 깊은 복사를 하게 된다.

In [75]:
cols = [ '종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols].copy()
df.head()

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.01.28,148000.0,1500.0,148000.0,150500.0,147000.0,197915.0
2,326030,SK바이오팜,2021.01.27,149500.0,2500.0,152000.0,153000.0,149500.0,167932.0
3,326030,SK바이오팜,2021.01.26,152000.0,0.0,153000.0,155000.0,151500.0,245969.0
4,326030,SK바이오팜,2021.01.25,152000.0,1500.0,151000.0,153500.0,150500.0,250843.0
5,326030,SK바이오팜,2021.01.22,150500.0,1000.0,152500.0,153000.0,149000.0,211286.0

<br>

### 6.5.3 중복된 데이터 제거

- `drop_duplicates()`

In [77]:
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(143, 9)
(143, 9)

<br>

## 6.6 기술통계값 구하기

In [78]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,143.000000,143.000000,143.000000,143.000000,143.000000,1.430000e+02
mean,170265.734266,3937.062937,170723.776224,174055.944056,167090.909091,6.811557e+05
std,15532.769109,6139.191559,16812.729743,18312.920177,15335.868428,1.202942e+06
min,127000.000000,0.000000,98000.000000,127000.000000,98000.000000,1.074820e+05
25%,158750.000000,1000.000000,159500.000000,161250.000000,155000.000000,2.106470e+05
50%,170000.000000,2500.000000,170500.000000,172000.000000,168500.000000,3.215860e+05
75%,179250.000000,4500.000000,179500.000000,182750.000000,176250.000000,6.337340e+05
max,217000.000000,49500.000000,219000.000000,269500.000000,210000.000000,1.010519e+07

<br>

### 6.6.1 과학적 기수법 (E notation)

In [80]:
df['거래량'].describe()

count    1.430000e+02
mean     6.811557e+05
std      1.202942e+06
min      1.074820e+05
25%      2.106470e+05
50%      3.215860e+05
75%      6.337340e+05
max      1.010519e+07
Name: 거래량, dtype: float64

In [81]:
1.430000e+02

143.0

In [82]:
1.43 * (10 ** 2)

143.0

In [83]:
1.010519e+07

10105190.0

<br>

## 6.7 파일 저장

### 6.7.1 최근 날짜 구해서 파일명 만들기

In [85]:
date = df.iloc[0]['날짜']
date

'2021.01.28'

In [89]:
file_name = f'{item_name}_{item_code}_{date}.csv'
file_name

'SK바이오팜_326030_2021.01.28.csv'

<br>

### 6.7.2 csv 파일로 저장

In [90]:
df.to_csv(file_name, index=False)

In [91]:
# 제대로 저장되었는 지 확인
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2021.01.28,148000.0,1500.0,148000.0,150500.0,147000.0,197915.0
1,326030,SK바이오팜,2021.01.27,149500.0,2500.0,152000.0,153000.0,149500.0,167932.0
2,326030,SK바이오팜,2021.01.26,152000.0,0.0,153000.0,155000.0,151500.0,245969.0
3,326030,SK바이오팜,2021.01.25,152000.0,1500.0,151000.0,153500.0,150500.0,250843.0
4,326030,SK바이오팜,2021.01.22,150500.0,1000.0,152500.0,153000.0,149000.0,211286.0
...,...,...,...,...,...,...,...,...,...
138,326030,SK바이오팜,2020.07.08,217000.0,500.0,214500.0,225000.0,198000.0,5990009.0
139,326030,SK바이오팜,2020.07.07,216500.0,2000.0,219000.0,269500.0,210000.0,10105187.0
140,326030,SK바이오팜,2020.07.06,214500.0,49500.0,214500.0,214500.0,193500.0,7126211.0
141,326030,SK바이오팜,2020.07.03,165000.0,38000.0,165000.0,165000.0,165000.0,711921.0
142,326030,SK바이오팜,2020.07.02,127000.0,29000.0,98000.0,127000.0,98000.0,698642.0